# Environments
venv/

# Makefile flags
.flag.*

# Docker
.container_data/

# Sphinx
docs/_build/

# Logs
*.log
*.logs

# OSX extras
.DS_Store

# Test cache
.cache/
__pycache__/

# Jupyter notebook checkpoints
.ipynb_checkpoints

# Data files
*.json

# VS Code
.history/
*.code-workspace
.vs-code/
.vscode/

# Secrets
secrets.py